.menu__item {
    display: flex;
    align-items: center;
    color: var(--color-card);
    font-size: 1.25em;
    font-family: var(--font-highlight);
    font-weight: 600;
    text-decoration: none;
    text-transform: lowercase;
    margin-right: 1.5em;
}

.menu__item::before {
    content: "";
    background-color: var(--color-tertiary);
    border-radius: .5em;
    height: .25em;
    width: .25em;
    margin-top: .25em;
    margin-right: .25em;
}

.menu__item:hover {
    color: var(--color-tertiary);
}

.menu__item.--button:visited, .menu__item.--button:hover {
    color: var(--color-text);
    transform: scale(1.05);
}
