.menu__item {
    color: var(--color-card);
    font-size: 1.25em;
    font-family: var(--font-highlight);
    font-weight: 600;
    text-decoration: none;
    text-transform: lowercase;
    margin-right: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item::before {
    content: "";
    background-color: var(--color-tertiary);
    border-radius: .5em;
    height: .25em;
    width: .25em;
    margin-top: .25em;
    margin-right: .25em;
}

.menu__item:hover {
    color: var(--color-tertiary);
}

@media (max-width: 800px) {
    .menu__item {
        font-size: 1em;
        margin-right: 0;
    }

    .menu__item.--button {
        font-size: 1em;
    }
}
