.menu {
    display: flex;
    align-items: center;
}

@media (max-width: 800px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        top: 0;
        right: -9999px;
        height: 100vh;
        background-color: var(--color-secondary);
        width: 50vw;
        padding: 1em;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .menu.--active {
        right: 0;
        transform: translateX(0);
    }
}
