.menu__mobile {
    display: none;
    visibility: hidden;
}

.menu__mobile .img {
    position: relative;
    z-index: 1;
    width: 2em;
    height: 2em;
}

@media (max-width: 800px) {
    .menu__mobile {
        display: flex;
        visibility: visible;
    }
}
