.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.75em;
}

.banner__photo {
    border-radius: 100%;
    border: .1em dashed var(--color-secondary);
    box-shadow: .2em .2em .3em var(--color-secondary);
    margin: .5em;
}

.banner__infos {
    margin: .5em;
}

.banner__infos--title {
    font-family: var(--font-highlight);
    font-size: 1.75em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding-top: .25em;
}

.banner__infos--subtitle {
    color: var(--color-secondary);
    font-family: var(--font-highlight);
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
    text-transform: lowercase;
    padding-bottom: .25em;
}

.banner__infos--text {
    font-weight: 400;
    padding-bottom: .1em;
    text-align: center;
}

.banner__social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25em;
    margin: 1em auto;
}

.banner__social.--button {
    font-size: 1.25em;
    font-family: var(--font-highlight);
    font-weight: 600;
    text-decoration: none;
    padding: .5em;
    background-color: var(--color-highlight);
    box-shadow: .20em .20em .06em var(--color-tertiary);
    border-radius: .3em;
    transition: transform 1.5s ease-in-out;
    margin: 0 .75em;
}

.banner__social.--button:visited, 
.banner__social.--button:hover {
    color: var(--color-text);
    transform: scale(1.07);
}

.banner__social.--button.--github:visited,
.banner__social.--button.--github:hover {
    color: transparent;
    background: no-repeat center/35% url("/assets/img/github.svg") var(--color-highlight);
}

.banner__social.--button.--linkedin:visited,
.banner__social.--button.--linkedin:hover {
    color: transparent;
    background: no-repeat center/25% url("/assets/img/linkedin.svg") var(--color-highlight);
}
