.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    color: var(--color-card);
}

.footer__social {
    display: flex;
}

.footer__social--img {
    width: 25px;
    height: 25px;
    margin: .75em;
}

.footer__copyright {
    display: flex;
    flex-direction: column;

}

.footer__copyright--text {
    font-family: var(--font-highlight);
    text-align: center;
    font-size: .75em;
    padding-bottom: .25em;
}

.footer__copyright--link {
    color: var(--color-card);
    font-weight: 600;
    text-decoration: none;
}

.footer__copyright--link:visited,
.footer__copyright--link:hover {
    color: var(--color-card);
    text-decoration: underline;
}
