@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&family=Quicksand:wght@400;600&display=swap');

@import url(./header/header.css);
@import url(./header/menu.css);
@import url(./header/menu-item.css);
@import url(./components/button.css);
@import url(./banner/banner.css);
@import url(./banner/banner-photo.css);
@import url(./banner/banner-infos.css);
@import url(./banner/banner-social.css);
@import url(./components/title.css);
@import url(./components/subtitle.css);
@import url(./components/text.css);
@import url(./skills/skills.css);
@import url(./skills/skills-wrapper.css);
@import url(./components/box.css);
@import url(./skills/skills-tech.css);
@import url(./skills/skills-icon.css);

@import url(./projects.css);
@import url(./projects-mobile.css);
@import url(./contact.css);
@import url(./footer.css); 


:root {
    --font-highlight: "Quicksand", sans-serif;
    --font-main: "Barlow", sans-serif;

    --color-background: #F4EFFC;
    --color-card: #E2DAEB;
    --color-highlight: #FF6E6C;
    --color-secondary: #67568C;
    --color-tertiary: #FBDD74;
    --color-text: #231C2E;
}

body {
    background-color: var(--color-background);
    box-sizing: border-box;
    color: var(--color-text);
    font-family: var(--font-main);
    font-weight: 400;
    overflow-x: hidden;
}
