.--button {
    background-color: var(--color-highlight);
    box-shadow: .20em .20em .06em var(--color-tertiary);
    border-radius: .3em;
    color: var(--color-text);
    display: inline-block;
    font-size: 1.25em;
    font-family: var(--font-highlight);
    font-weight: 600;
    padding: .5em;
    transition: transform 1s linear;
    text-decoration: none;
    text-transform: initial;
}

.--button:visited,
.--button:hover {
    color: var(--color-text);
    transform: scale(1.05);
}

.--button.--github:visited,
.--button.--github:hover {
    color: transparent;
    background: no-repeat center/35% url("/assets/img/github.svg") var(--color-highlight);
}

.--button.--linkedin:hover {
    color: transparent;
    background: no-repeat center/25% url("/assets/img/linkedin.svg") var(--color-highlight);
} 
